<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Your Store</title>
    <link rel="stylesheet" href="css/style.css">

    <link href="https://fonts.googleapis.com/css?family=Varela+Round&display=swap" rel="stylesheet">
</head>
<body>
    <div id="header">

        <div id="storeName">
            <div id="title">We serve you the best products</div>
        </div>

        <nav>
            <ul>
                <li><a href ="index">Home</a></li>
                <li><a href ="add_product">Add Product</a></li>
                <li><a href ="shop">Shop</a></li>
            </ul>

            
        </nav>

    </div>




</body>
</html>